<style>
    h1 {color:red;}
    p {color:blue;}
    </style>
<header><h1>{{title}}</h1></header>
  <div>
    <div style="background-color:lightblue">      
      <p>Parrafo</p>      
    </div>
    <button mat-button>Btn 1</button>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-link">Link</button>
  </div>

